@import "http://localhost/RusNews/css/reset.css";
@import '@fontsource-variable/inter';





/* Blocks for light and dark theme */

:root {
    --background-color: #FEFEFE;
    --background-search-color: #FEFEFE;
    --border: 1px solid #bdbdbd;
    --border-top: 2px solid #ededed;
    --text-color: #4A4A4A;
    --search-color: #000000;
    --header-p-color: #6F6F6F;
    --article-color: #313131;
    --article-p-color: #3a3a3a;
    --filter: none;
}

@media (prefers-color-scheme: dark-theme) {
    :root {
      --background-color: #090909;
      --background-search-color: #151515;
      --border: 1px solid #464646;
      --border-top: 2px solid #1a1a1a;
      --text-color: #ffffff;
      --search-color: #FFFFFF;
      --article-color: #e2e2e2;
      --article-p-color: #cdcdcd;
      --filter: invert(100%);
    }
}



/* Section - Article */

.article {
    margin-top: 40px;
}

.article-img {
    display: block;
    overflow: hidden;
    max-width: 1216px;
    max-height: 381px;
    text-align: center;
    margin-bottom: 40px;
}

.article-text {
    max-width: 1056px;
    padding: 40px 80px 0 80px;
}

.article-heading {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 3px;
    color: var(--article-color);
}

.article-list {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    margin: 20px 0 25px 0;
}

.article-additional {
    font-weight: 700;
}
.article-additional-link {
    color: var(--article-color);
}

.article-time {
    font-weight: 300;
    color: var(--article-color)
}

.article-text p {
    margin-top: 20px;
    color: var(--article-p-color);
}

.article-text h5 {
    font-weight: 700;
    margin-top: 20px;
    color: var(--article-color);
}

.article-text h3 {
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 30px 0;
    color: var(--article-color);
}



/* Button - Beginning */

.btn-beginning {
    display: inline-block;
    position: relative;
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: right;
}

button[type="button-beginning"] img {
    position: relative;
    width: 50px;
    height: 50px;
}