@import "http://localhost/RusNews/css/reset.css";
@import '@fontsource-variable/inter';





/* Blocks for light and dark theme */

:root {
    --background-color: #FEFEFE;
    --background-search-color: #FEFEFE;
    --border: 1px solid #bdbdbd;
    --border-top: 2px solid #ededed;
    --text-color: #4A4A4A;
    --search-color: #000000;
    --header-p-color: #6F6F6F;
    --article-color: #313131;
    --article-p-color: #3a3a3a;
    --filter: none;
}

@media (prefers-color-scheme: dark-theme) {
    :root {
      --background-color: #090909;
      --background-search-color: #151515;
      --border: 1px solid #464646;
      --border-top: 2px solid #1a1a1a;
      --text-color: #ffffff;
      --search-color: #FFFFFF;
      --article-color: #e2e2e2;
      --article-p-color: #cdcdcd;
      --filter: invert(100%);
    }
}



/* Section - Set article */

.set-articles-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
}

.set-article-block {
    max-width: 300px;
    min-width: 300px;
    min-height: 382px;
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-article-color);
    flex: 1 1 0;
    margin-top: 80px;
}

.set-article-img {
    display: block;
    position: relative;
    max-width: 297px;
    max-height: 179px;
    margin: 0 auto;
}

.set-article-content {
    position: relative;
    padding: 20px 20px 20px 20px;
}

.set-article-heading {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 5px;
    color: var(--article-color)
}

.set-article-content p {
    text-align:justify;
    word-break: break-all;
    margin-bottom: 3px;
    color: var(--article-p-color)
}

.set-article-list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 20px 0 3px 0;
}



/* Button - See more */

.btn-see-more {    
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0px 0 0 0;
}

button[type="button-see-more"] {
    padding: 0.5rem 0.75rem;
    color: #ffffff;
    background-color: #6B46C1;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 80px;
}

button[type="button-see-more"] img {
    position: relative;
    margin-left: 10px;
}