@import 'http://localhost/RusNews/css/reset.css';
@import '@fontsource-variable/inter';





/* Main blocks */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body.dark-theme {
    --background-color: #090909;
    --background-search-color: #151515;
    --background-article-color: #151515;
    --box-shadow: 0 5px 2px -2px #343434;
    --border: 1px solid #464646;
    --border-top: 2px solid #1a1a1a;
    --text-color: #ffffff;
    --search-color: #FFFFFF;
    --header-p-color: #7C7C7C;
    --article-color: #e2e2e2;
    --article-p-color: #cdcdcd;
    --filter: invert(100%);
}

.hidden {
    display: none !important;
}



/* Duplicate blocks */

.container {
    max-width: 1216px;
    padding: 0 80px;
}

.hr-line {
	padding: 0;
	height: 0;
	border: none;
	border-top: var(--border-top);
}

.article-time {
    color: var(--article-color)
}

.article-further {
    font-weight: 700;
}

.article-further-link {
    color: var(--article-color);
}



/* Header */

.header {
    padding-top: 40px;
}



/* Nav */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.nav-list {
    display: flex;
    column-gap: 30px;
}



/* Input */

.input-search {
    display: block;
    position: relative;
    bottom: 5px;
    background-color: var(--background-search-color);
    background-clip: padding-box;
    padding: 4px 6px;
    border: var(--border);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button[type="submit"] {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    background-size: cover;
}

button[type="submit"] img{
    filter: var(--filter);
}


input[type="search"] {
    position: relative;
    width: 280px;
    height: 20px;
}

input[type="search"]::placeholder{
    position: relative;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--search-color);
    opacity: 0.4;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

.nav-link {
    color: var(--accent-color);
}

.nav-link img {
    width: 20px;
    height: 20px;
    filter: var(--filter);
}



/* Switch */

.switch {
    display: inline-block;
    position: relative;
    width: 2.4rem;
    height: 1.2rem;
}

input[type="checkbox"] {
    opacity: 1;
    width: 0;
    height: 0;
}

input[type="checkbox"]:checked + .move {
    background-color: #9c9c9c;   
}

input[type="checkbox"]:checked + .move::before {
    transform: translateX(1.2rem);
}

.move {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3d3d3d;
    border-radius: 3rem;
    transition: 0.3s;
    cursor: pointer;
}

.move::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1.5rem;
    top: 0.05rem;
    bottom: 0;
    left: 0.05rem;
    transition: 0.3s;
    z-index: 2;
}



/* Nav button */

.nav-button {
    display: none;
    filter: var(--filter);
}

/*  Footer */

.footer-contacts {
    margin-top: 80px;
}

.contacts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 0 26px 0;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.contacts-title {
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--text-color);

}

.contacts-link img {
    width: 20px;
    height: 20px;
    filter: var(--filter);
}